<!DOCTYPE html>
<html lang="en">

<head>
	<title>Pius Dan Nyongesa</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Pius Dan Nyongesa, Pius Dan Nyongesa, software engineer, site reliability engineer, devops, personal website, cv, portfolio" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/lightbox.css') }}" type="text/css" media="all" />
	<!--gallery-popup-css-->
	<link href="{{ url_for('static', filename='css/popuo-box.css') }}" rel="stylesheet" type="text/css" media="all" /><!-- Pop-up -->
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
	<!--fonts-->
	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
	<!--//fonts-->
	<script>
		new GitHubCalendar(".calendar", "Piusdan");
	</script>

</head>

<body>
	<!-- banner -->
	<div class="banner" id="home">
		<div class="header">
			<div class="w3_agile_logo">
				<h1><a href="index.html">Pius Dan<span>WHO IAM</span></a></h1>
			</div>
			<div class="w3_menu">
				<div class="mobile-nav-button">
					<div class="mobile-nav-button__line"></div>
					<div class="mobile-nav-button__line"></div>
					<div class="mobile-nav-button__line"></div>
				</div>
				<nav class="mobile-menu">
					<ul>
						<li><a href="#home" class="active scroll">Home</a></li>
						<li><a href="#about" class="scroll">About</a></li>
						<li><a href="#gallery" class="scroll">Community</a></li>
						<li><a href="#contact" class="scroll">Contact</a></li>
					</ul>
					<div class="clearfix"></div>
					<div class="search-agileits">
						<form action="#" method="post">
							<input type="search" name="Search" placeholder=" " required="">
							<input type="submit" value="Search">
						</form>
					</div>
				</nav>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="agile_banner_info">
			<h2><span>HI! I'm</span> Pius Dan Nyongesa</h2>
			<div id="typed-strings" class="agileits_w3layouts_strings">
				<p>SOFTWARE <i>ENGINEER.</i></p>
				<p>DEVOPS <i>ENGINEER.</i></p>
				<p>CS <i>BACKGROUND</i></p>

			</div>
			<span id="typed" style="white-space:pre;"></span>
			<p class="banner-p-w3ls">I code for <strike>food</strike> fun.</p>
		</div>
		<div class="w3_agileits_social_media">
			<ul>
				<li><a href="https://github.com/Piusdan" class="wthree_facebook"><i class="fa fa-github" aria-hidden="true"></i></a></li>
				<li><a href="https://twitter.com/PiusNyongesa" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="https://www.linkedin.com/in/piusdannyongesa" class="wthree_dribbble"><i class="fa fa-linkedin"
						 aria-hidden="true"></i></a></li>
			</ul>
		</div>
		<div class="banner-image-w3layouts">
			<!-- <img src="{{ url_for('static', filename='images/men.png') }} " alt=" " class="img-responsive" /> -->
		</div>
	</div>
	<!-- //banner -->
	<!-- about -->
	<div class="about" id="about">
		<div class="col-md-6 about-left-w3ls">
			<!-- <h5>Crunching code</h5> -->
		</div>
		<div class="col-md-6 person-info-agileits-w3layouts">
			<h3 class="w3_head w3_head1">About Me <span>I am Pius Dan</span></h3>
			<p><span>Hi!, Iam Pius Dan </span> a Site Reliability Engineer at <a href="https://weza.io" target="blank">Weza
					Ventures (loanbee)</a>.<br>
				Passionate about using technology to solve everyday problems and building ecosystems to support the development of
				better software.
			</p>
			<ul>
				<li><span>Experience</span>: +2 Years</li>
				<li><span>Email</span>: <a href="mailto:npiusdan@gmail.com">npiusdan@gmail.com</a></li>
				<li><span>Phone</span>: +254 703 554 404</li>
				<li><span>Website</span>: <a href="#">www.piusdan.me</a></li>
				<li><span>Address</span>: Nairobi, Kenya</li>
				<li><a href="http://bit.ly/2G8WrWK" target="blank" class="botton-w3ls">Download CV</a>
					<a href="https://github.com/Piusdan" target="blank" class="botton-w3ls">My Github</a>
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- //about-bottom -->
	<!-- mid -->
	<section class="mid-w3layouts">
		<div class="container">
			<h6>Iam available.</h6>
			<h3>Let's <span>build</span> something great!</h3>
			<a href="#contact" class="scroll">Get in touch</a>
		</div>
	</section>
	<!-- //mid -->
	<!--skills -->
	<div class="skills-agileinfo" id="skills">
		<div class="container">
			<h3 class="w3_head w3_head1 white-agile">My Stack <span>Time spent on a tool/language </span></h3>
			<div class="modal-spa">

				<div class="skills">
					<div class="col-md-6 bar-grids bargrids-left">
						<h4><span class="glyphicon glyphicon-cog"></span> Languages </h4>
						<h6>Python <span> 80% </span></h6>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" style="width: 80%">
							</div>
						</div>
						<h6>Javascript<span> 10% </span></h6>
						<div class="progress  w3-agile">
							<div class="progress-bar progress-bar-striped active" style="width: 10%">
							</div>
						</div>
						<h6>Kotlin<span>10% </span></h6>
						<div class="progress  w3-agile">
							<div class="progress-bar progress-bar-striped active" style="width: 10%">
							</div>
						</div>
					</div>
					<div class="col-md-6 bar-grids  w3-agile">
						<h4><span class="glyphicon glyphicon-briefcase"></span> Automation Tools </h4>
						<h6>Ansible<span> 25% </span></h6>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" style="width: 25%">
							</div>
						</div>
						<h6>Helm<span> 75% </span></h6>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" style="width: 75%">
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //skills -->
	<!-- gallery -->
	<div class="gallery_wthree" id="gallery">
		<div class="container">
			<h3 class="w3_head w3_head1">Community <span>For the food & friends</span></h3>
			<div class="gallery_grid agileits_w3layouts">
				<div class="col-md-6  col-sm-6 col-xs-6 grid_w3">
					<div class="grid-1">
						<a class="cm-overlay" href="{{ url_for('static', filename='images/hashcode.jpg') }}">
							<img src="{{ url_for('static', filename='images/hashcode.jpg') }}" alt=" " class="img-responsive" />
							<div class="w3agile-text w3agile-text-smal1">
								<h5>2017 google hashcode</h5>
							</div>
						</a>
					</div>
					<div class="sub_grid gallery_w3l">
						<div class="col-md-6 col-sm-6 col-xs-6 grid-1 grid-b grid_w3l">
							<a class="cm-overlay" href="{{ url_for('static', filename='images/devfest.JPG') }}">
								<img src="{{ url_for('static', filename='images/devfest.JPG') }}" alt=" " class="img-responsive" />
								<div class="w3agile-text w3agile-text-smal1 full-height-w3">
									<h5>GDG DevFest Nairobi</h5>
								</div>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 grid_w3">
					<div class="sub_grid">
						<div class="col-md-6 col-sm-6 col-xs-6 grid-1 grid-c grid_w3l">
							<a class="cm-overlay" href="{{ url_for('static', filename='images/ai-meetup.jpg') }}">
								<img src="{{ url_for('static', filename='images/ai-meetup.jpg') }}" alt=" " class="img-responsive" />
								<div class="w3agile-text w3agile-text-small full-height-w3">
									<h5>Nairobi AI Meetup</h5>
								</div>
							</a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 grid-1 grid-d grid_w3l">
							<a class="cm-overlay" href="{{ url_for('static', filename='images/docker.jpg') }}">
								<img src="{{ url_for('static', filename='images/docker.jpg') }}" alt=" " class="img-responsive" />
								<div class="w3agile-text w3agile-text-smal1 full-height-w3">
									<h5>JKUAT Google Cloud Study Jam</h5>
								</div>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="grid-1 grid-2">
						<a class="cm-overlay" href="{{ url_for('static', filename='images/pycon.JPG') }}">
							<img src="{{ url_for('static', filename='images/pycon.JPG') }}" alt=" " class="img-responsive" />
							<div class="w3agile-text w3agile-text-smal1">
								<h5>Speaking at PyconKE 2018</h5>
							</div>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //gallery -->

	<!--footer-->
	<div class="contact" id="contact">
		<h3 class="w3_head w3_head1">Contact Me <span>Get in touch with me</span></h3>
		<div class="col-md-6 col-md-offset-3 contact-agileits-w3layouts">
			<form action="#" method="post">
				<input type="text" name="Your Name" placeholder="Name" required="">
				<input type="email" name="Your Email" placeholder="Email" required="">
				<input type="text" name="Phone Number" placeholder="Number" required="">
				<textarea name="Message" placeholder="Message" required=""></textarea>
				<input type="submit" value="Submit">
			</form>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="contact-info">
		<div class="container">
			<div class="col-md-4 contact-grids">
				<h5>Find me</h5>
				<div class="w3_agileits_social_media-footer">
					<ul>
						<li><a href="https://github.com/Piusdan" class="wthree_facebook"><i class="fa fa-github" aria-hidden="true"></i></a></li>
						<li><a href="https://twitter.com/PiusNyongesa" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="https://www.linkedin.com/in/piusdannyongesa" class="wthree_dribbble"><i class="fa fa-linkedin"
								 aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 contact-grids contact-mid">
				<h5>Contact Info</h5>
				<ul>
					<li><i class="fa fa-phone" aria-hidden="true"></i>+254 703 554 404</li>
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>Nairobi, Kenya</li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:npiusdan@gmail.com">npiusdan@gmail.com</a></li>
				</ul>
			</div>
			<div class="col-md-4 contact-grids">
				<h5>My Twitter</h5>
				<div class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>
							<i class="fa fa-twitter" aria-hidden="true"></i>Praesent imperdiet diam sagittis, egestas <a href="#" class="mail">
								@http://t.co/9vslJFpW</a> <span>ABOUT 15 MINS</span>
						</li>
						<li>
							<i class="fa fa-twitter" aria-hidden="true"></i>Diam sagittis, egestas praesent imperdiet<a href="#" class="mail">
								@http://t.co/9vslJFpW</a> <span>ABOUT 2 HOURS</span>
						</li>
						<li>
							<i class="fa fa-twitter" aria-hidden="true"></i>Imperdiet diam sagittis, praesent egestas <a href="#" class="mail">
								@http://t.co/9vslJFpW</a> <span>ABOUT 3 DAYS</span>
						</li>
						<li>
							<i class="fa fa-twitter" aria-hidden="true"></i>Egestas praesent imperdiet diam sagittis <a href="#" class="mail">
								@http://t.co/9vslJFpW</a> <span>ABOUT 1 WEEK</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="copy-w3-agile">
		<p>Copyright 2018 Pius Dan Nyongesa. All Rights Reserved</p>
	</div>
	<!--//footer-->

	<!-- js -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>


	<!-- Navigation-JavaScript -->
	<!-- menu -->
	<script>
		$(document).ready(function () {
			$('.mobile-nav-button').on('click', function () {
				$(".mobile-nav-button .mobile-nav-button__line:nth-of-type(1)").toggleClass("mobile-nav-button__line--1");
				$(".mobile-nav-button .mobile-nav-button__line:nth-of-type(2)").toggleClass("mobile-nav-button__line--2");
				$(".mobile-nav-button .mobile-nav-button__line:nth-of-type(3)").toggleClass("mobile-nav-button__line--3");

				$('.mobile-menu').toggleClass('mobile-menu--open');
				return false;
			});
		});
	</script>
	<!-- //menu -->
	<!-- Gallery-plugin -->
	<script src="{{ url_for('static', filename='js/jquery.mobile.custom.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.cm-overlay.js') }}"></script>
	<script>
		$(document).ready(function () {
			$('.cm-overlay').cmOverlay();
		});
	</script>
	<!-- //Gallery-plugin -->
	<!-- responsiveslides -->
	<script src="{{ url_for('static', filename='js/responsiveslides.min.js') }}"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider3").responsiveSlides({
				auto: true,
				pager: false,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script>
	<!-- //responsiveslides -->

	<!-- //Navigation-JavaScript -->
	<!--pop-up-box -->
	<script src="{{ url_for('static', filename='js/jquery.magnific-popup.js') }}" type="text/javascript"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- //pop-up-box -->

	<!-- banner-type-text -->
	<script src="{{ url_for('static', filename='js/typed.js') }}" type="text/javascript"></script>
	<script>
		$(function () {

			$("#typed").typed({
				// strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
				stringsElement: $('#typed-strings'),
				typeSpeed: 30,
				backDelay: 500,
				loop: false,
				contentType: 'html', // or text
				// defaults to false for infinite loop
				loopCount: false,
				callback: function () { foo(); },
				resetCallback: function () { newTyped(); }
			});

			$(".reset").click(function () {
				$("#typed").typed('reset');
			});

		});

		function newTyped() { /* A new typed object */ }

		function foo() { console.log("Callback"); }
	</script>
	<!-- //banner-type-text -->
	<!-- jarallax-js -->
	<script src="{{ url_for('static', filename='js/SmoothScroll.min.js') }}"></script>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/move-top.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/easing.js') }}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>

	<div class="arr-w3ls">
		<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
	<!-- //smooth scrolling -->
	<!-- Prepare a container for your calendar. -->
	<script src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js">

	</script>


	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-3.1.1.min.js') }}"></script>

</body>

</html>